<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{this.title}}</h5>
    </div>
    <div class="card-body">
        <ul>
            {{#each this.options as |option index|}}
            <li {{#if option.correctness}}class="correct"{{/if}}>
                {{option.option}}</li>
            {{/each}}
        </ul>
    </div>
</div>
