{{#if questions}}
{{#withGroup questions 1}}
<div class="card-deck mt-3">
    {{#each this as |question index|}}
    {{>question_info question}}
    {{/each}}
</div>
{{/withGroup}}
{{else}}
<div class="alert alert-danger">
    <p>No questionnaires found.</p>
</div>
{{/if}}
