{{#if questionnaires}}
{{#withGroup questionnaires 1}}
<div class="card-deck mt-3">
    {{#each this as |questionnaire index|}}
    {{#if (or questionnaire.questions.length (eq @root.path "/questionnaires"))}}
    {{>questionnaire_info questionnaire}}
    {{/if}}
    {{/each}}
</div>
{{/withGroup}}
{{else}}
<div class="alert alert-danger">
    <p>No questionnaires found.</p>
</div>
{{/if}}
