<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<div id="exercise" class="container">
    <div id=correctDiv class="textContent">0</div>
    <div id=wrongDiv class="textContent">0</div>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                {{>messages}}
                <h3 id="title" class="text-center mb-3">Door Game</h3>
                <div id="game-form">
                  <div id="correct"  class="textContent">0</div>
                    <div id="wrong"  class="textContent">0</div>
                    <p id="question-title"></p>
                    <div id="doors">
                        <div id="object" class="movable-object"></div>
                    </div>
                    <button id="start-game" class="btn btn-primary">Start Game</button>
                    <form method="POST">
                        <input type="number" id="correct" name="correct" class= "hidden" value="0">
                        <input type= "number" id="wrong" name="wrong" class= "hidden" value="0">
                        <button id="grade" type="submit" class="btn btn-primary">Grade</button>
                    </form>
                </div>
                <script src='/js/gameFile.js'></script>
            </div>
        </div>
    </div>
</div>
