#assignment {
    font-weight: bold;
    font-size: 1.3rem;
    width: 675px;
    padding: 5px;
    margin: 15px auto;
}

#container {
    display: flex;
    flex-flow: row wrap;
    width: 675px;
    min-height: 64px;
    padding: 5px;
    margin: 15px auto;
    border: 2px solid black;
}
#correctDiv {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: lightgreen;
  padding-top: 12px;
  text-align: center;
  opacity: 80%;
}
#wrongDiv {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: red;
  padding-top: 12px;
  text-align: center;
  opacity: 80%;
}

#container div {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}

#bubbles div:hover,
#container div:hover {
    color: aquamarine;
}

#bubbles {
    width: 620px;
    min-height: 700px;
    padding: 10px;
    position: relative;
    border: 2px solid black;
    margin: 15px auto;
}

#doors {
    width: 620px;
    min-height: 500px;
    padding: 10px;
    position: relative;
    border: 2px solid black;
    margin: 15px auto;
    width: 100%;
}

.parent {
  display: flex;
  height: 50px;
  width: 100%;
}

.movable-object {
    background:url("test.png");
    position: absolute;
    z-index: 10;
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 50px;
}

.bubble {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    position: absolute;
    max-width: 185px;
}
.door {
    background-color: brown;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
    position: absolute;
    max-width: 185px;
    height: 150px;
    width: 30%;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.blue {
    /* background: blue; */
    background: lightskyblue;
}

.green {
    background: green;
}

.hidden {
    display: none;
}

.correct {
    font-weight: bold;
}

textarea {
    resize: none;
}
