<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h3 class="text-center mb-3">Add a new questionnaire</h3>
                {{>messages}}
                <form method="POST" action="/questionnaires/new">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" id="title" required>
                    </div>
                    <div class="form-group">
                        <label for="submissions">Submissions</label>
                        <input type="number" min="1" name="submissions" class="form-control" id="submissions" required>
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                <p class="lead mt-4"><a href="/questionnaires">Cancel</a></p>
            </div>
        </div>
    </div>
</div>
