<div class="container">
    <h2>Edit questionnaire</h2>
    {{>messages}}
    <form method="POST" action="/questionnaires/edit/{{questionnaire.id}}">

        <div class="card-deck mt-3">
        {{>questionnaire_edit questionnaire}}
        </div>

        {{inc 'i' 'clear'}}
        {{#withGroup questionnaire.questions 2}}
        <div class="card-deck mt-3">
            {{#each this as |question index|}}
                {{>question_edit
                    question=question
                    index=(inc 'i' 1)
                    new=../../new}}
            {{/each}}
        </div>
        {{/withGroup}}

        <div class="card-deck mt-3">
            <div class="card">
                <div class="card-header">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a class="btn btn-danger" href="/questionnaire/delete/{{questionnaire.id}}">Remove questionnaire</a>
                </div>
            </div>
        </div>

    </form>
</div>
