<script type="text/javascript" src="/js/filterList.js"></script>
<div class="container">
    <h2>Questionnaires</h2>
    <input type="text" id="inputStr" onkeyup="filter()" class="form-control" placeholder="Search for questionnaire titles...">
    {{>messages}}
    {{>questionnaire_listing}}
    {{#if (eq @root.path "/questionnaires")}}
    <div class="card-deck mt-3">
        <div class="card">
            <div class="card-footer">
                <a id = "btnAddQ" class="btn btn-primary" href="/questionnaires/new">Add questionnaire</a>
            </div>
        </div>
    </div>
    {{/if}}
</div>
