<div class="container">
    <h2>Questionnaires</h2>
    {{>messages}}
    {{>questionnaire_listing}}
    <div class="card-deck mt-3">
        <div class="card">
            <div class="card-footer">
                <a class="btn btn-primary" href="/questionnaires/new">Add questionnaire</a>
            </div>
        </div>
    </div>
</div>
